* {
  margin: 0;
  padding: 0;
}

/* input:invalid {
  border: 1px red solid;
} */

#password:invalid, #confirmpass:invalid {
  border: 1px red solid;
}

:focus {
  border: 1px blue solid;
  box-shadow: 5px 5px 5px rgb(202, 202, 202);
}

body {
  display: flex;
}

@font-face {
  font-family: 'norse';
  src: url('fonts/webfontkit-20220705-131140/norse-bold-webfont.woff'),
       url('fonts/webfontkit-20220705-131140/norse-bold-webfont.woff2');
       font-weight: normal;
       font-style: normal;
}
.left {
  background-image: url("pictures/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 38vw;
}

.right {
  height: 100vh;
  width: 62vw;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  height: 34vh;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  background-color: white;
  height: 30vh;
  margin-bottom: 4px;
  box-shadow: 1px 4px 3px rgb(223, 223, 223);
}

.bot {
  background-color: rgb(247, 247, 247);
  height: 36vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  height: 14vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.odin {
  font-size: x-large;
  color: white;
  font: 7em "norse";
}

.logo {
  width: auto;
  height: 13vh;
}

.online, .want {
  margin-left: 3vw;
  /* change this width later to equal the width of the inputs in middle section */
  width: 40vw; 
  font-size: larger;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.online {
  margin-top: 14vh;
  margin-bottom: 30px;
}


ul {
  list-style: none;
}

.forms {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  font-family: inherit;
  font-size: 100%;
  width: 200px;
  padding: 0;
  box-sizing: border-box;
  margin: .8vh;
  margin-top: 0;
  border-radius: 3px;
  border: 1px #E5E7EB solid;
}

label {
  font-size: 10px;
  margin-left: 8px;
  font-weight: bolder;
}

.inputs {
  display: flex;
  font-size: 100%;
  margin: 5px;
  width: 25vw;
}

li {
  margin-left: 2.1vw;
}

.formhead {
  margin-left: 3vw;
}

.submit, .signup {
  margin-top: 3vh;
  margin-left: 3vw;
}

.submit {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #596D48;
  color: white;
  border-radius: 4px;
  border: 1px #E5E7EB solid;
  box-shadow: 3px 3px 2px rgb(226, 226, 226);
}

.signup {
  font-size: 13px;
  font-weight: bold;
}